<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="plcdb_service.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
  <runtime>
    <legacyCorruptedStateExceptionsPolicy enabled="true"/>
  </runtime>
  <system.serviceModel>
    <diagnostics performanceCounters="All"/>
  </system.serviceModel>
    <userSettings>
        <plcdb_service.Properties.Settings>
            <setting name="ActiveModelPath" serializeAs="String">
                <value/>
            </setting>
            <setting name="LicenseKey" serializeAs="String">
                <value/>
            </setting>
            <setting name="PurchaseKey" serializeAs="String">
                <value/>
            </setting>
        </plcdb_service.Properties.Settings>
    </userSettings>
</configuration>
