<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" throwExceptions="true">
  <extensions>
    <add assembly="plcdb-lib"/>
  </extensions>
  <targets>
    <target name="logfile" xsi:type="AsyncWrapper" queueLimit="5000" overflowAction="Discard" >
      <target name="file" xsi:type="File"
            layout="${longdate} ${logger} ${message}"
            fileName="${basedir}/log.txt"
            archiveFileName="${basedir}/archives/log.{#####}.txt"
            archiveAboveSize="10240"
            archiveNumbering="Sequence"
            concurrentWrites="true"
            keepFileOpen="false"
            encoding="iso-8859-2" />
    </target>
    <target name="console" xsi:type="Console" />
    <target xsi:type="Database" name="sql">

      <commandText>INSERT INTO dbo.[plcdb_log](Occurred, Message, LogLevel, Class, StackTrace) VALUES(getutcdate(), LEFT(@msg,1000), LEFT(@level,10), LEFT(@logger,100), LEFT(@stacktrace, 1000))</commandText>

      <!-- parameters for the command -->
      <parameter name="@msg" layout="${message}" />
      <parameter name="@level" layout="${level}" />
      <parameter name="@logger" layout="${logger}" />
      <parameter name="@stacktrace" layout="${stacktrace}" />
      
      <!-- connection string -->
      <dbProvider>System.Data.SqlClient</dbProvider>
      <connectionString>server=.;database=plcdb;integrated security=sspi</connectionString>

    </target>
  </targets>

  <rules>
    <logger name="*" minlevel="Trace" writeTo="logfile" />
    <logger name="*" minlevel="Trace" writeTo="console" />
    <logger name="*" minlevel="Trace" writeTo="sql" />
  </rules>
</nlog>