<?xml version="1.0"?>
<configuration>
<configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
        <section name="plcdb.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
</configSections>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>
  <runtime>
    <legacyCorruptedStateExceptionsPolicy enabled="true"/>
  </runtime><userSettings>
        <plcdb.Properties.Settings>
          <setting name="LastOpenedFile" serializeAs="String">
            <value />
          </setting>
          <setting name="ServiceHost" serializeAs="String">
            <value>localhost</value>
          </setting>
          <setting name="MaxLogLength" serializeAs="String">
            <value>1000</value>
          </setting>
          <setting name="LicenseKey" serializeAs="String">
            <value />
          </setting>
          <setting name="PurchaseKey" serializeAs="String">
            <value />
          </setting>
        </plcdb.Properties.Settings>
    </userSettings>
</configuration>
